doctype html
html
   head
      title="Home"
      link(rel="stylesheet", href="./styles/styleHeader.css")
      link(rel="stylesheet", href="./styles/styleFooter.css")
      link(rel="stylesheet", href="./styles/style.css")


   body.bodyAbout
      include ./header.pug

      h1.titulo Sobre nosotros...
      h2 #{description} 

      include ./footer.pug