doctype html
html
   head
      title="Contact"
      link(rel="stylesheet", href="./styles/style.css")
      link(rel="stylesheet", href="./styles/styleHeader.css")
      link(rel="stylesheet", href="./styles/styleFooter.css")


   body.bodyContact
      include ./header.pug

      h1.titulo Contacta con nosotros
      h3 Teléfono #{tel}
      h3 Email #{email}
      h3 Dirección #{street}

      include ./footer.pug