doctype html
html
   head
      title="Location"
      link(rel="stylesheet", href="./styles/style.css")
      link(rel="stylesheet", href="./styles/styleHeader.css")
      link(rel="stylesheet", href="./styles/styleFooter.css")

   body.bodyLocation
      include ./header.pug

      h1.titulo Nos puedes encontrar en la #{direccion} 

      include ./footer.pug