doctype html
html
   head
      title="Mission"
      link(rel="stylesheet", href="./styles/style.css")
      link(rel="stylesheet", href="./styles/styleHeader.css")
      link(rel="stylesheet", href="./styles/styleFooter.css")
      
   body.bodyMission

      include ./header.pug

      h1.titulo Nuestra misión es
      h3 #{slogan}

      include ./footer.pug